<h1><%= @title %></h1>

<h2>Current date</h2>
<%= @date %>

<h2>Station list</h2>
<ul>
  <% @stations.each do |s| %>
    <li>
      <a href="/<%= s['owl:sameAs'].split(':')[1] %>"><%= s["dc:title"] %>(<%= s['odpt:railway'].split('.')[2] %>)</a>
    </li>
  <% end %>
</ul>